.app-wrapper {
    height: 100vh;
    width: 100%;
}

.app-wrapper .route-wrapper {
    width: 100%;
}

.app-wrapper .route-wrapper.full-height {
    height: 100vh;
}

.route-wrapper .items, .route-wrapper .selected-items,
.route-wrapper .items > *, .route-wrapper .selected-items > * {
    height: 500px;
    width: 300px;
}

.route-wrapper .selected-items select option,
.route-wrapper .items select option {
    height: 20px;
    min-height: 20px;
    line-height: 20px;
}

.selected {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.selected:hover {
    color: red;
}