<div class="route-wrapper full-height" layout="column" layout-align="center center">
    <div class="md-whiteframe-z3" layout-padding layout="column" layout-align="center center">
        <div layout="row" ng-hide="ready">
            Loading...
        </div>
        <div ng-show="ready">
            <h2>
                {{::dataLength}} items list
            </h2>
        </div>
        <div>
            <b ng-show="ready && tmpSelectedItems.length > 0">
                {{tmpSelectedItems.length}} items selected
            </b>&nbsp;
        </div>
        <br/>
        <div layout="row" ng-hide="1" ng-show="ready">
            <div class="items">
                <!--<select multiple="multiple" ng-options="value for value in items" ng-model="tmpSelectedItems"></select>-->
                <md-content style="height: 500px;">
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="value in items" ng-click="select($event, value)" ng-class="{'selected': isSelected(value)}">
                            {{::value}}
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <div class="actions" layout="column" layout-align="center center">
                <md-button class="md-fab md-primary" aria-label="Move item" ng-click="moveItems(items)">
                    &gt;&gt;
                </md-button>
                <md-button class="md-fab md-primary" aria-label="Move item" ng-click="moveItems(tmpSelectedItems)">
                    &gt;
                </md-button>
                <md-button class="md-fab md-primary" aria-label="Move item" ng-click="moveItemsBack(tmpSelectedItems)">
                    &lt;
                </md-button>
                <md-button class="md-fab md-primary" aria-label="Move item" ng-click="moveItemsBack(selectedItems)">
                    &lt;&lt;
                </md-button>
                <md-button class="md-fab md-accent md-hue-3" aria-label="Move item" ng-click="clearSelection()">
                    x
                </md-button>
            </div>
            <div class="selected-items">
                <select multiple="multiple" ng-options="value for value in selectedItems" ng-model="tmpSelectedItems"></select>
            </div>
        </div>
    </div>
</div>